<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>practice1</title>
    <link rel="stylesheet" href="dist/build.css">
  </head>
  <body>
    <div id="app">
      <h1 v-if="false">true title</h1>
      <h1 v-else-if="true">else if title</h1>
      <h1 v-else>not true title</h1>
      <template v-if="false">
         <p>true template</p>
      </template>
      <template v-else>
         <p>not true template</p>
      </template>
    </div>
    <script src="dist/build.js"></script>
  </body>
</html>
